/*
Generic Styles for Whole App
*/
.TitleContainer{
    padding: 20px;
}

.MainTitleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}


h1 {
    line-height: 3;
    text-align: center;
    color: rgb(212, 209, 209);
    width: 450px;
    margin: auto;
}

body {
    background: #11141f;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 100%;
    color:rgb(212, 209, 209);
    text-align: center;
}

/* .AppContainer {
    background: #292f4b;
    margin: 64px auto;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 32px;
} */

/*
The TODO App Specfic Styles
*/
.AddTodoContainer{
    margin-bottom: 32px;
}


/* .TodoItem {
    color: #fff;
    background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(137, 1, 221) 100%
    );
    margin: 25px;
} */

.completed {
    text-decoration: line-through;
    opacity: 0.4;
}


button:hover {
    background-color: #46485f;
}


/*
The Timer App Specific Styles
*/
.SetTimer {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding: 10px;
}

.SetTimer::placeholder {
    color: #e2e2e2;
}

.timeInput {
    margin-bottom: 30px;
}

.TimeViewContainer {
    display: inline-block;
    border: 2px rgba(93, 12, 255, 1);
    justify-content: center;
    width: 90%;
    height: 100px;
    padding: auto;
    margin: auto;
}

#timeTitle {
    text-align: center;
    font-size: 70px;
    background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(137, 1, 221) 100%
    );
    padding: 4px 16px 8px 16px;
    border-radius: 5px;
}

#setHours {
    padding: 14px 32px 14px 16px;
    margin: 8px 0px 8px 8px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 80px;
    background: transparent;
    color: #fff;
}

#setMinutes {
    padding: 14px 32px 14px 16px;
    margin: 8px 0px 8px 8px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 80px;
    background: transparent;
    color: #fff;
}
