/*
Generic Styles for Whole App
*/
.TitleContainer{
    padding: 20px;
}

label {
    margin: 5px;
    font-size: 18px;
    color: rgb(212, 209, 209);
}

h1 {
    line-height: 3;
    text-align: center;
    color: rgb(212, 209, 209);
    width: 450px;
    margin: auto;
}

body {
    background: #252a3d;
}

hr {
    margin: 20px;
    width: 92%;
    color:rgb(212, 209, 209);
    text-align: center;
}

.AppContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 520px;
    min-height: 600px;
    background: #292f4b;
    text-align: center;
    margin: 64px auto;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 32px;
}

/*
The TODO App Specfic Styles
*/
.AddToDo {
    margin-bottom: 32px;
    padding: 10px;
}

#addTodoInput {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 320px;
    background: transparent;
    color: #fff;
}

#addTodoButton {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(137, 1, 221) 100%
    );
    color: #fff;
    text-transform: capitalize;  
}

#addTodoButton:hover {
    filter: brightness(80%);
}


.TodoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 20px 8px 20px;
    color: #fff;
    background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(137, 1, 221) 100%
    );
    padding: 16px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.4;
}

.btncomplete {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    background-color: #252a3d; 
    color: rgb(1, 221, 137); 
    padding: 6px; 
    outline: none;
    border: none;
    font-size: 16px; 
    cursor: pointer; 
}

.btndelete {
    display: flex;
    margin-left: 14px;
    background-color: #252a3d;
    color:rgb(223, 65, 65);
    outline: none;
    border: none;
    padding: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #46485f;
}


/*
The Timer App Specific Styles
*/
.SetTimer {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    padding: 10px;
}

.SetTimer::placeholder {
    color: #e2e2e2;
}

.timeInput {
    margin-bottom: 30px;
}

.TimeViewContainer {
    display: inline-block;
    border: 2px rgba(93, 12, 255, 1);
    justify-content: center;
    width: 90%;
    height: 100px;
    padding: auto;
    margin: auto;
}

#timeTitle {
    text-align: center;
    font-size: 70px;
}

#setHours {
    padding: 14px 32px 14px 16px;
    margin: 8px 0px 8px 8px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 80px;
    background: transparent;
    color: #fff;
}

#setMinutes {
    padding: 14px 32px 14px 16px;
    margin: 8px 0px 8px 8px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 80px;
    background: transparent;
    color: #fff;
}
